<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whoops!</title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
  <main class="ta-center bg-white padd-32 br-16 shadow grid-gap">
    <h1 class="title">Whoops! Something went wrong...</h1>
    <p class="fs-sm opacity-80">Try double checking your spelling, or search for another city to see its weather data.</p>
    <form action="/location" method="POST">
      <div class="searchbar">
        <input type="text" name="city" id="city" placeholder="Search for a city">
        <button><img width="30" src="images/search.png" alt=""></button>
      </div>
    </form>
  </main>
</body>
</html>