@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

/* Reset */
/*
Andy Bell's CSS Reset
https://andy-bell.co.uk/a-modern-css-reset/
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utilities */
.uppercase {
  text-transform: uppercase;
}

.ta-center {
  text-align: center;
}

.fs-lg {
  font-size: calc(2.75rem + 0.390625vw);
}

.fs-sm {
  font-size: calc(0.875rem + 0.390625vw);
}

.fw-500 {
  font-weight: 500;
}

.bg-white {
  background-color: hsl(0, 0%, 100%);
}

.opacity-80 {
  opacity: 0.8;
}

.br-8 {
  border-radius: 0.5rem;
}

.br-16 {
  border-radius: 1rem;
}

.padd-8 {
  padding: 0.5rem;
}

.padd-16 {
  padding: 1rem;
}

.padd-32 {
  padding: 2rem;
}

.unformatted-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.shadow {
  box-shadow: 4px 4px 12px 4px hsla(0, 0%, 0%, 0.1);
}

.flex-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.grid-gap {
  display: grid;
  gap: 2rem;
}

/* Styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 33%);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 50%);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(1.15rem + 0.390625vw);
  font-weight: 300;
  background: linear-gradient(-35deg, hsl(167, 26%, 70%), hsl(260, 25%, 67%));
  background-repeat: no-repeat;
  background-size: 300% 500%;
  animation: gradient 100s infinite;

  display: grid;
  place-items: center;
}

@keyframes gradient {
  0% {
    background-position: top left;
  }
  50% {
    background-position: bottom right;
  }
  100% {
    background-position: top left;
  }
}

main {
  width: 30rem;
}

.title {
  font-size: 2rem;
  line-height: 1.2;
}

.searchbar {
  border: 1px solid transparent;
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  transition: border 200ms ease;
}

.searchbar:focus-within {
  border: 1px solid hsl(231, 8%, 17%);
}

input,
input:focus {
  border: none;
  outline: none;
}

button {
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

.weather-card {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  width: 100%;
}

.weather-display {
  padding: 1rem;
  display: grid;
  gap: 2rem;
}

.weather-details {
  color: hsl(0, 0%, 100%);
  background-color: hsl(231, 8%, 17%);
  padding: 1rem 2rem;
}

.forecast {
  overflow-x: scroll;
  display: grid;
  grid-template-columns: repeat(5, 10rem);
  gap: 0.5rem;
}

.forecast-card {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}